<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/new" method="POST">
      <label for="userName"> </label>
      <input type="text" name="userName" id="userName" required />
      <button type="submit">Submit</button>
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
